<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores est maxime cumque sapiente ducimus minus voluptatibus dolores iure a optio, dolorem in molestias porro iusto voluptatum eligendi, explicabo magnam nostrum officiis ipsum! Eum, dolorem! Nobis corporis ea nulla excepturi beatae illum ab corrupti dolores? Tempora recusandae quis impedit necessitatibus ab.
    </p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" routerLink="/cities" role="button">Show Cities</a>
  </div>